# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives

**In this notebook, we covered the following key takeaways from the course:**

- List popular languages for Data Science.
- Explore essential libraries used in Data Science, such as NumPy, Pandas, and Matplotlib.
- Understand basic mathematical expressions and LaTeX formatting in Markdown cells.
- Introduce key concepts in machine learning and deep learning frameworks, like scikit-learn, TensorFlow, and PyTorch.
- Discuss data visualization techniques and tools like Matplotlib and Seaborn.

These objectives provide a solid foundation for getting started with Data Science and understanding the fundamental tools and concepts in the field.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

- **NumPy**: Provides support for efficient numerical operations and multi-dimensional arrays.
- **Pandas**: Offers data manipulation and analysis tools through its DataFrame and Series structures.
- **Matplotlib**: A plotting library for creating static, animated, and interactive visualizations.
- **Seaborn**: Built on top of Matplotlib, Seaborn provides a high-level interface for statistical data visualization.

## Data Science Tools

First option:

In [47]:
import pandas as pd

In [48]:
list= ['Jupyter Notebook', 'Jupyter Lab', 'RStudio', 'Watson Studio']

In [49]:
table = pd.DataFrame()

In [50]:
table['DS Tools'] = list

In [51]:
table

           DS Tools
0  Jupyter Notebook
1       Jupyter Lab
2           RStudio
3     Watson Studio

Second option:

|Data Science Tools| 
|-----| 
|Jupyter Notebook| 
|Jupyter Lab | 
| RStudio |

Below are a few examples of evaluating arithmetic expressions in Python

The sum of the first $n$ natural numbers can be expressed as $\sum_{i=1}^{n} i = \frac{n(n+1)}{2}$.

The formula for the area of a circle is $A = \pi r^2$, where $r$ is the radius.

In [57]:
##This a simple arithmetic expression to mutiply then add integers

In [58]:
(3*4)+5

17

In [59]:
##This will convert 200 minutes to hours by diving by 60

In [60]:
minutes = 200

In [61]:
hours = (minutes/60)
hours

3.3333333333333335

## Author

Rocio Almada